/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/cache
.env
.env.backup
.env.example
.env.*.php
.env.php
composer.phar
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/img

/nbproject
/.idea
.DS_Store
Thumbs.db
sftp-config.json
*.orig
*.iml
dump.rdb
/public/vendor
/resources/views/vendor
_ide_helper*
.idea.meta.php
..env.swp

